<html>
    <head>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/reveal-v4.css">
        <link rel="stylesheet" href="/css/ilecture2.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Benne&family=Roboto&display=swap" rel="stylesheet">
	</head>
	<body>
        <div class="reveal">
			<div class="slides">
                {{ content }}
			</div>
		</div>
		<script src="/js/reveal-v4.js"></script>
        <script src="/js/reveal-v4/math/math.js"></script>
        <!-- <script src="/js/reveal-v4/notes/notes.js"></script> -->
        <script src="/js/reveal-v4/audio-slideshow/plugin.js"></script>
        <script>
            Reveal.initialize({
                math: {
                    mathjax: 'https://cdn.jsdelivr.net/gh/mathjax/mathjax@2.7.8/MathJax.js',
                    config: 'TeX-AMS_HTML-full',
                    // pass other options into `MathJax.Hub.Config()`
                    // TeX: { Macros: { RR: "{\\bf R}" } }
                    extensions: ["tex2jax.js"],
                    jax: ["input/TeX", "output/HTML-CSS"],
                    tex2jax: {
                    inlineMath:  [ ['$','$'] ],
                    displayMath: [ ["\\[","\\]"] ],
                    processEscapes: true
                    },
                    "HTML-CSS": { 
                        fonts: ["TeX"],
                        styles: {
                            ".MathJax_Display": {margin: "0.4em"}
                        } 
                    }
                },
                audio: {
                    prefix: 'audio/', 	// audio files are stored in the "audio" folder
                    suffix: '.mp3',		// audio files have the ".ogg" ending
                    textToSpeechURL: null,  // the URL to the text to speech converter
                    defaultNotes: false, 	// use slide notes as default for the text to speech converter
                    defaultText: false, 	// use slide text as default for the text to speech converter
                    advance: 0, 		// advance to next slide after given time in milliseconds after audio has played, use negative value to not advance
                    autoplay: true,	// automatically start slideshow
                    defaultDuration: 2,	// default duration in seconds if no audio is available
                    defaultAudios: false,	// try to play audios with names such as audio/1.2.ogg
                    playerOpacity: 0.50,	// opacity value of audio player if unfocused
                    playerStyle: 'position: fixed; bottom: 4px; left: 25%; width: 50%; height:75px; z-index: 33;', // style used for container of audio controls
                    startAtFragment: true, // when moving to a slide, start at the current fragment or at the start of the slide
                },
                plugins: [ RevealMath, RevealAudioSlideshow ],
                margin: 0.05,
                controls: true,
                keyboard: true,
                history: true,
                progress: false,
                center: false,
                transition: 'convex',
                transitionSpeed: 'default',
                width: 960,
                height: 700
            });
        </script>
	</body>
</html>